<!DOCTYPE html>
<html ng-app='myApp'>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./styles/reset.css">
  <link rel="stylesheet" href="./styles/main.css">
  <title>Trivia Trends</title>
  <link rel="shortcut icon" href="./styles/assets/crownFavicon.png">
</head>

<body ng-controller='mainCtrl'>


  <header>
    <div></div>
    <h1>Trivia Trends</h1>
    <button ng-click='addQuestion'><span>+</span> Add Question</button>
  </header>

  <article>
    <nav>
      <a ng-click="allAnimals()">All Questions</a>
      <a ng-click='filterDifficulty(1)'>Easy</a>
      <a ng-click='filterDifficulty(2)'>Medium</a>
      <a ng-click='filterDifficulty(3)'>Hard</a>
      <a ng-click='showAnimalSearchBox()'>Search by Animal</a>
    </nav>
    <div class="search">
      <input type="text" placeholder="Animal to search by" ng-show='animalSearch' ng-model='animal'>
    </div>

    <!-- Questions go here -->
    <div class='questions' ng-show='showQuestion(question.difficulty)' ng-repeat='question in questions | filter: animal'>
        <img id='gear' src='./styles/assets/gear.svg' ng-click='editQuestion()'>
        <div class='difficultyLevel'></div>
        {{ question.question }}
        <div class='answer a'>A. {{ question.options[1] }}</div>
        <div class='answer b'>B. {{ question.options[2] }}</div>
        <div class='answer c'>C. {{ question.options[3] }}</div>
        <div class='answer d'>D. {{ question.options[4] }}</div>
      
    </div>

    <button class='previousButton'  ng-click='previous()'>Previous</button>
    <button class='nextButton' ng-click='next()'>Next</button>

  </article>

  

  <div class="modal" ng-if='showModal'>
    <form>
      <h4 class="close" ng-click='closeModal()'>X</h4>
      <span>Question</span><input value={{difficulty}} type="text" ng-model="<!-- Question -->">
      <span>Animal it's about</span><input type="text" ng-model="<!-- Animal -->">
      <span>Difficulty</span>
      <div class="range">
        <input type="range" min="1" max="3" ng-model="<!-- Difficulty -->">

        <h5>{{newQuestion.difficulty}}</h5>
      </div>
      <h4>Options</h4>
      <div>
        <input type="radio" ng-model="" value="1">
        <input type="text" ng-model="">
      </div>
      <div>
        <input type="radio" ng-model="" value="2">
        <input type="text" ng-model="">
      </div>
      <div>
        <input type="radio" ng-model="" value="3">
        <input type="text" ng-model="">
      </div>
      <div>
        <input type="radio" ng-model="" value="4">
        <input type="text" ng-model="">
      </div>

      <!--Add question buttons-->
      

      <div class="buttons" ng-show='addingQuestion'>
        <button class="green">Save Question</button>
        <button>Cancel</button>
      </div>

      <!--Edit & Delete question buttons-->
      <div class="buttons" ng-hide='addingQuestion'>
        <button class="red">Delete Question</button>
        <button class="green">Save Changes</button>
        <button>Cancel</button>
      </div>

    </form>
  </div>

  


  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js" charset="utf-8"></script>
  <script src="js/app.js" charset="utf-8"></script>
  <script src="js/mainCtrl.js" charset="utf-8"></script>
  <script src="js/mainService.js" charset="utf-8"></script>
</body>

</html>